@charset "utf-8";

/* CSS Document */
/*reset Css*/
*{ margin: 0; padding: 0; border: 0; vertical-align: baseline; outline:none; text-decoration:none; }
/* font-face */
@font-face {
 font-family: LaoUI;
 src: url("font/LaoUI.eot")
}
@font-face {
 font-family: LaoUI;
 src: url("font/LaoUI.ttf") 
}
@font-face {
 font-family: GraublauWeb;
 src: url("font/GraublauWeb.eot")
}
@font-face {
 font-family: GraublauWeb;
 src: url("font/GraublauWeb.otf") 
}
@font-face {
 font-family: GraublauWebBold;
 src: url("font/GraublauWebBold.eot") 
}
@font-face {
 font-family: GraublauWebBold;
 src: url("font/GraublauWebBold.otf") 
}
/*Main Css*/
body{font-family:LaoUI;padding:15px;}
.get_start{background:url(../images/popup_bg.jpg) repeat;padding:20px 35px;border:#FFF 6px solid;border-radius:11px;width:560px;box-shadow:0px 0px 15px #404040;display:inline-block;position:relative;}
.get_start h1{font-size:30px;color:#1794ca;font-family: GraublauWebBold;line-height:30px;font-weight:normal;}
.get_start p{font-size:18px;color:#000;}

.get_start img{float:left;display:inline-block;margin:17px 0 0;}
.getstart_right{float:left;width:380px;padding:5px 0 0 30px;}
.getstart_right span{float:left;clear:both;font-size:18px;color:#000;padding:25px 0 0;line-height:18px;}
.getstart_right p{float:left;clear:both;font-size:16px;line-height:16px;}
.getstart_right button{width:285px;height:51px;font-family: GraublauWebBold;color:#FFF;font-size:28px;line-height:51px;text-align:center;display:inline-block;background:#1794ca;border-radius:7px;margin:34px 0 0;cursor:pointer;}
a.close_model{position:absolute;top:-15px;right:-15px;}
.get_start a img{margin:0;}

.choose_avatar{background:url(../images/popup_bg.jpg) repeat;padding:20px 35px;border:#FFF 6px solid;border-radius:11px;width:560px;box-shadow:0px 0px 15px #404040;display:inline-block;position:relative;}
.choose_avatar h1{font-size:30px;color:#9a9a9a;font-family: GraublauWebBold;line-height:30px;font-weight:normal;text-align:center;}
.choose_avatar p{font-size:18px;color:#000;text-align:center;}
.male_female{text-align:center;width:100%;display:inline-block;}
.select_avatar a{float:left;display:inline-block;color:#000;font-size:16px;background:url(../images/border_ava.png) no-repeat right 20px;width:180px;text-align:center;}
.select_avatar{display:inline-block;}
.male_female span{height:22px;width:57px;text-align:center;color:#494949;margin:0 0 0 10px;display:inline-block;line-height:20px;cursor:pointer;}
.male_female span:hover{background:#FFF;border:1px solid #b9b9b9;height:20px;width:55px;}
.male_female span.active{background:#FFF;border:1px solid #b9b9b9;height:20px;width:55px;}
.male_female {height:30px;padding:20px 0;}
.go p{font-size:16px;line-height:16px;padding:20px 0 10px;}

.start_on{background:url(../images/popup_bg.jpg) repeat;padding:20px 35px;border:#FFF 6px solid;border-radius:11px;width:560px;box-shadow:0px 0px 15px #404040;display:inline-block;position:relative;}
.start_on h1{font-size:26px;color:#1794ca;font-family: GraublauWebBold;line-height:26px;font-weight:normal;}
.start_on p{font-size:18px;color:#000;}
.left_on{float:left;width:100px;text-align:center;font-size:18px;margin:30px 30px 0 0;}
.start_on .right_on {float:left;width:326px;}
.start_on .right_on p{font-size:16px;line-height:16px;margin:20px 0 30px}
.right_on button{width:285px;height:51px;font-family: GraublauWebBold;color:#FFF;font-size:28px;line-height:51px;text-align:center;display:inline-block;background:#1794ca;border-radius:7px;margin:20px 0 0;cursor:pointer;}
.tree{float:left;margin:50px 0 0 25px; }
.get_connect{float:left;clear:both;width:100%;display:inline-block;border-top:1px solid #cbcbcb;margin:15px 0 0;text-align:center;}
.get_connect p{color:#343434;font-size:17px;padding:0 0 15px;}
.get_connect a{margin:0 4px 0;}











